* {
    font-family: helvetica , sans-serif;
}

.landing-page-article-about-us {
    display: inline-block;
    width: 400px;
}

.landing-page-article-our-mission {
    display: inline-block;
    width: 400px;
}

.landing-page-articles {
    margin-left: 300px;
    display: inline-block;
}

.landing-page {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}

.landing-page-title {
    text-align: center;
    font-size: 40px;
}

.landing-page-image {
    float: right;
    margin-right: 100px;
}

.login-page {
    margin-top: 60px;
}

.login-page-form {
    margin-top: 50px;
    border: 1px solid grey;
    padding: 5%;
}

.login-page-form-title {
    text-align: center;
}

.register-page {
    margin-top: 60px;
}

.register-page-title {
    text-align: center;
}

.register-page-form {
    margin-top: 50px;
    border: 1px solid grey;
    padding: 5%;
}

.logout {
    position: absolute;
    right: 20px;
}

.add-car-page-form {
    margin-top: 50px;
    border: 1px solid grey;
    padding: 5%;
}

.add-car-page {
    margin-top: 60px;
}

.add-car-page-title {
    text-align: center;
}

.list-cars-page-no-car-content {
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.car-details-page-image {
    max-width: 500px;
    margin: 0 auto;
}

.car-details-page {
    text-align: center;
}

.page {
    margin-top: 60px;
}

.form {
    margin-top: 50px;
    border: 1px solid grey;
    padding: 5%;

}

.title {
    text-align: center;
}

/*.car-details-page h1,h2,h3,h4, h5 {*/
/*}*/
/*.car-details-page-content {*/

/*}*/

.notification-box {
    background-color: lightgreen;
    font-size: 1.5em;
    border-radius: 15px;
    display: none;
    width: 500px;
    margin: 0 auto;

}

.notification-message {
    display: inline-block;
    padding: 0.5em 2em 0.5em 2em;
    text-align: center;
}

.rent-cart-photo {
    max-width: 250px;
}

.cars-rent-cart-page .table {
    max-width: 1100px;
    margin-left: 100px;

}

.cars-rent-cart-page {
    display: inline-flex;
    width: 100%;
    margin-top: 50px;
}

.cars-rent-cart-page .checkout-article {
    margin-left: 100px;
    margin-top: 200px;
    border: 1px solid black;
    width: 450px;
    padding-top: 40px;
    height: 300px;
}

.cars-rent-cart-page .checkout-article-title {
    text-align: center;
    margin-bottom: 15px;
}

.cars-rent-cart-page .checkout-article form {
    text-align: center;
}

.cars-rent-cart-page .checkout-article .send-email-button {
        display: block;
    width: 75px;
    margin: 0 auto;
    margin-top: 25px;
}


.cars-rent-cart-page .empty-cart-title {
    width: 500px;
    margin: 0 auto;
    margin-top: 300px;
    font-size: 50px;

}

.car-card {
    margin-right: 75px;
}

.list-cars-page .cards{
    display: inline-flex;
    justify-content: center;
    margin: 75px;
}

