.landing-page-articles {
    max-width: 400px;
    display: flex;
}

.landing-page {
    display: flex;
}

.landing-page-title {
    text-align: center;
}

.landing-page-image {
    float: right;
}

.login-page {
    margin-top: 60px;
}

.login-page-form {
    margin-top: 50px;
    border: 1px solid grey;
    padding: 5%;
}

.login-page-form-title {
    text-align: center;
}

.register-page {
    margin-top: 60px;
}

.register-page-title {
    text-align: center;
}

.register-page-form {
    margin-top: 50px;
    border: 1px solid grey;
    padding: 5%;
}

.logout {
    position: absolute;
    right: 20px;
}

.add-car-page-form {
    margin-top: 50px;
    border: 1px solid grey;
    padding: 5%;
}

.add-car-page {
    margin-top: 60px;
}

.add-car-page-title {
    text-align: center;
}