.landing-page-articles {
    max-width: 400px;
    display: flex;
}

.landing-page {
    display: flex;
}

.landing-page-title {
    text-align: center;
}

.landing-page-image {
    float: right;
}

.login-page-input {
    max-width: 400px;
    margin: 50px;
}

.login-page-input-password {
    max-width: 400px;
}

