{% extends 'common/base.html' %}

{% load static %}


{% block content %}

    <section class="landing-page">
        <h2 class="landing-page-title">Home Page</h2>


        <article class="landing-page-articles">
            <article class="landing-page-article-about-us">
            <h4 class="landing-page-article-about-us-title">About Us</h4>

            <p class="landing-page-article-about-us-content">Fusce vitae metus a orci convallis lacinia. Nulla ut lorem nulla. Mauris mattis magna nec lacinia efficitur. Phasellus rhoncus nec est nec lacinia. Curabitur consequat risus nec turpis scelerisque dictum. Sed non consequat magna. Aenean luctus lectus sapien, sed semper tortor imperdiet eget. Vestibulum nec molestie elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed eros gravida, dictum lacus et, porttitor mauris. Ut porta fringilla purus a consectetur. In pellentesque tellus sapien, ac consectetur libero facilisis at. Curabitur lacinia, leo a pharetra bibendum, mauris quam luctus velit, eu suscipit felis sapien non urna. Ut scelerisque nibh ut purus dignissim condimentum. Pellentesque id ultricies arcu.</p>
        </article>

        <article class="landing-page-article-our-mission">
            <h4 class="landing-page-article-our-mission-title">Our Mission</h4>

            <p class="landing-page-article-our-mission-content">Fusce vitae metus a orci convallis lacinia. Nulla ut lorem nulla. Mauris mattis magna nec lacinia efficitur. Phasellus rhoncus nec est nec lacinia. Curabitur consequat risus nec turpis scelerisque dictum. Sed non consequat magna. Aenean luctus lectus sapien, sed semper tortor imperdiet eget. Vestibulum nec molestie elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed eros gravida, dictum lacus et, porttitor mauris. Ut porta fringilla purus a consectetur. In pellentesque tellus sapien, ac consectetur libero facilisis at. Curabitur lacinia, leo a pharetra bibendum, mauris quam luctus velit, eu suscipit felis sapien non urna. Ut scelerisque nibh ut purus dignissim condimentum. Pellentesque id ultricies arcu.</p>
        </article>
        </article>


        <article class="landing-page-image">
            <img src="../static/images/pexels-photo-3264504.jpeg" alt="Car photo">

        </article>
    </section>

{% endblock %}