{% extends 'common/base.html' %}

{% block content %}

    <div class="container">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <img src="{{ car.image.url }}" class="w-50 rounded mx-auto d-block">
            </div>
            <div class="d-inline p-2 w-50">
                <div class="d-flex justify-content-between">
                    <h5><u>Car:</u> {{ car.make }} {{ car.model }}</h5>
                    <h5><u>Price:</u> {{ car.price }}</h5>
                    <h5><u>Mileage:</u> {{ car.mileage }}</h5>
                    <h5><u>Owner:</u> {{ car.user }}</h5>
                </div>
                <p class="mt-2">Description: </p>
                {% if is_owner %}
                    <a href="{% url 'car edit' car.id %}" class="btn btn-success">Edit</a>
                    <a href="{% url 'car delete' car.id %}" class="btn btn-danger">Delete</a>
                {% else %}
{#                   {% if already_liked %}#}
{#                        <a href="{% url 'like pet' pet.id %}" class="disabled" role="button" aria-disabled="true"><i class="fa fa-heart-o" style='color:black;' aria-hidden="true" disabled></i></a>#}
{#                       {% else %}#}

                    {% if not already_liked %}
                        <a href="{% url 'like car' car.id %}"><i class="fas fa-thumbs-up"></i></a>
{#                    {% endif %}#}
                        {% else %}
                        <a href="{% url 'like car' car.id %}"><i class="fas fa-thumbs-down"></i></a>
                        {% endif %}

                        <a href="{% url 'rent car' car.id %}">Rent This Car</a>

                {% endif %}

                <p class="mt-2">Likes: {{ car_likes_count }}</p>
            </div>
        </div>

        <div class="d-block" style="background-color: #f1e3e3; padding:2%">
            {% if comments %}
                {% for comment in comments %}
                    <div class="box">
                        <h5><em><u>{{ comment.user }}</u>: {{ comment.message }}</em></h5>
                        <hr>
                    </div>
                {% endfor %}
            {% else %}
                <div class="box">
                    <h3>There are no comments for this car. </h3>
                </div>
            {% endif %}
            <div class="box">
                <form method="post" action="{% url 'car details' car.id %}">
                    {% csrf_token %}
                    {{ comment_form }}
                    <button class="btn btn-primary mt-2" type="submit">Add comment</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}









{#{% extends 'common/base.html' %}#}
{##}
{#{% block content %}#}
{#    <section class="car-details-page">#}
{#        <div class="card mb-3">#}
{#            <img src="{{ car.image.url }}" class="card-img-top car-details-page-image" alt="...">#}
{#            <div class="card-body">#}
{#                <h5 class="card-title">{{ car.make }} {{ car.model }}</h5>#}
{#                <p class="card-text">Price: {{ car.price }}</p>#}
{#                <p class="card-text">Mileage: {{ car.mileage }}</p>#}
{#                <p class="card-text">Transmission type: {{ car.transmission_type }}</p>#}
{#                <p class="card-text">Fuel type: {{ car.fuel_type }}</p>#}
{#                <p class="card-text">Owner: {{ car.user }}</p>#}
{##}
{#                <form action="{% url 'car details' request.user.id %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    {{ comment_form }}#}
{#                    <button class="btn btn-primary">Comment</button>#}
{#                </form>#}
{##}
{#                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
{##}
{#                <div class="car-details-page-buttons">#}
{#                    {% if is_owner %}#}
{#                        <a href="{% url 'car edit' car.id %}" class="btn btn-warning">Edit</a>#}
{#                        <a href="{% url 'car delete' car.id %}" class="btn btn-danger">Delete</a>#}
{#                    {% endif %}#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{##}
{#{% endblock %}#}