{% extends 'common/base.html' %}

{% block content %}
    <section class="car-details-page">
        <div class="card mb-3">
            <img src="{{ car.image.url }}" class="card-img-top car-details-page-image" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ car.make }} {{ car.model }}</h5>
                <p class="card-text">Price: {{ car.price }}</p>
                <p class="card-text">Mileage: {{ car.mileage }}</p>
                <p class="card-text">Transmission type: {{ car.transmission_type }}</p>
                <p class="card-text">Fuel type: {{ car.fuel_type }}</p>
                <p class="card-text">Owner: {{ car.user }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                <div class="car-details-page-buttons">
                    {% if is_owner %}
                        <a href="{% url 'car edit' car.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'car delete' car.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </section>

{% endblock %}