{% extends 'common/base.html' %}

{% block content %}
    {% if cars %}
        {% for car in cars %}
            <div class="card" style="width: 18rem;">
  <img src="{{ car.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ car.make }} {{ car.model }}</h5>
    <p class="card-text">Mileage: {{ car.mileage }}</p>
    <p class="card-text">Vehicle: {{ car.vehicle_type }}</p>
    <p class="card-text">Price per day: {{ car.price_per_day }}$</p>
    <a href="{% url 'car details' car.id %}" class="btn btn-primary">See more details</a>
  </div>
</div>
        {% endfor %}
        {% else %}

            <h2 class="list-cars-page-no-car-content">There no cars for rent right now!</h2>
    {% endif %}

{% endblock %}