{% extends 'common/base.html' %}

{% load mathfilters %}

{% block content %}
    <div class="notification-box">
        <span class="notification-message">Successfully added to your rent cart!</span>
    </div>

    <section class="cars-rent-cart-page">
        <h2></h2>


        <table class="table">
            <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Car</th>
                <th scope="col">Price</th>
                <th scope="col">Rent For</th>
            </tr>
            </thead>
            <tbody>
            {% for rent in current_user_rent %}
                <tr>
                    <td><img alt='car photo' class='rent-cart-photo' src="{{ rent.car.image.url }}"></td>
                    <td>{{ rent.car.make }} {{ rent.car.model }}</td>
                    <td>{{ rent.car.price }}$</td>
                    {#                <td>{{ rent.date_end_rent|sub:rent.date_start_rent.day }}</td>#}
                    <td>{{ rent.rent_for.days }} days</td>
                    <td></td>
                </tr>
                {% if rent == last_rent %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>



        <article class="checkout-article">
            <h2 class="checkout-article-title">Checkout</h2>

            <form method="post" enctype="multipart/form-data">
                <p><strong>Total price: {{ total_price }}$</strong></p>

                <p>Enter the email, to send your order info to</p>

                {% csrf_token %}
                {{ send_email_form }}
                <button class="btn btn-primary send-email-button">Send</button>
            </form>

        </article>
    </section>
{% endblock %}